# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp311-cp311-win_amd64.whl (876 kB)
                                              0.0/876.5 kB ? eta -:--:--
     ---                                     71.7/876.5 kB 2.0 MB/s eta 0:00:01
     --------                               204.8/876.5 kB 2.5 MB/s eta 0:00:01
     ----------                             235.5/876.5 kB 2.0 MB/s eta 0:00:01
     ------------                           286.7/876.5 kB 1.6 MB/s eta 0:00:01
     -------------                          317.4/876.5 kB 1.5 MB/s eta 0:00:01
     ---------------                        348.2/876.5 kB 1.4 MB/s eta 0:00:01
     ----------------                       389.1/876.5 kB 1.3 MB/s eta 0:00:01
     ----------------------                 512.0/876.5 kB 1.4 MB/s eta 0:00:01
     --------------------------             614.4/876.5 kB 1.6 MB/s eta 0:00:01
     ---------------------------            634.9/876.5 kB 1.4 MB/s eta 0:00:01
     --------------------------------       747.5/876.5 kB 1.5 MB/s eta 0:00:01
     -----------------------------------    809.0/876.5 kB 1.5 MB/s eta 0:00:01
     -------------------------------------  870.4/876.5 kB 1.5 MB/s eta 0:00:01
     -------------------------------------- 876.5/876.5 kB 1.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
                                              0.0/313.6 kB ? eta -:--:--
     -------------                          112.6/313.6 kB 3.3 MB/s eta 0:00:01
     ---------------------------------      276.5/313.6 kB 3.4 MB/s eta 0:00:01
     -------------------------------------  307.2/313.6 kB 3.2 MB/s eta 0:00:01
     -------------------------------------- 313.6/313.6 kB 2.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://diaz:diaz123@bigdata.8ixyv.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

Insert Data

In [60]:
# Contoh Insert Data
employee_data = [
    {'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500},
    {'name': 'Prabowo', 'department': 'Finance', 'age': 32, 'salary': 5500},
    {'name': 'Subianto', 'department': 'IT', 'age': 28, 'salary': 6000},
    {'name': 'Joko', 'department': 'IT', 'age': 24, 'salary': 4700},
    {'name': 'Sri', 'department': 'HR', 'age': 35, 'salary': 5200},
    {'name': 'Muhaimin', 'department': 'HR', 'age': 22, 'salary': 3900},
    {'name': 'Iskandar', 'department': 'Marketing', 'age': 26, 'salary': 4700},
    {'name': 'Mamat', 'department': 'Marketing', 'age': 30, 'salary': 6100},
    {'name': 'Kaisar', 'department': 'Finance', 'age': 45, 'salary': 7000},
    {'name': 'Caca', 'department': 'IT', 'age': 23, 'salary': 4800},
    {'name': 'Fitri', 'department': 'Finance', 'age': 27, 'salary': 4900},
    {'name': 'Vina', 'department': 'HR', 'age': 40, 'salary': 5500},
    {'name': 'Peggy', 'department': 'Marketing', 'age': 31, 'salary': 6500},
    {'name': 'Budi', 'department': 'Finance', 'age': 38, 'salary': 8000},
    {'name': 'Dewi', 'department': 'Finance', 'age': 31, 'salary': 5200},
    {'name': 'Eko', 'department': 'IT', 'age': 27, 'salary': 6500},
    {'name': 'Sari', 'department': 'IT', 'age': 29, 'salary': 5700},
    {'name': 'Rina', 'department': 'HR', 'age': 36, 'salary': 6200},
    {'name': 'Tono', 'department': 'HR', 'age': 28, 'salary': 4500},
    {'name': 'Nina', 'department': 'Marketing', 'age': 34, 'salary': 7000},
    {'name': 'Fahmi', 'department': 'Marketing', 'age': 30, 'salary': 7500},
    {'name': 'Lina', 'department': 'Finance', 'age': 45, 'salary': 9000},
    {'name': 'Dimas', 'department': 'IT', 'age': 25, 'salary': 5000},
    {'name': 'Rudi', 'department': 'Finance', 'age': 29, 'salary': 5400},
    {'name': 'Maya', 'department': 'HR', 'age': 33, 'salary': 5700},
    {'name': 'Hadi', 'department': 'Marketing', 'age': 39, 'salary': 6800}
]

collection.delete_many({})  # Menghapus semua dokumen yang ada

# Menyisipkan data ke dalam koleksi
result = collection.insert_many(employee_data)
print(f'Data inserted: {result.inserted_ids}')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted: [ObjectId('67220b7336eec3bfafb4628c'), ObjectId('67220b7336eec3bfafb4628d'), ObjectId('67220b7336eec3bfafb4628e'), ObjectId('67220b7336eec3bfafb4628f'), ObjectId('67220b7336eec3bfafb46290'), ObjectId('67220b7336eec3bfafb46291'), ObjectId('67220b7336eec3bfafb46292'), ObjectId('67220b7336eec3bfafb46293'), ObjectId('67220b7336eec3bfafb46294'), ObjectId('67220b7336eec3bfafb46295'), ObjectId('67220b7336eec3bfafb46296'), ObjectId('67220b7336eec3bfafb46297'), ObjectId('67220b7336eec3bfafb46298'), ObjectId('67220b7336eec3bfafb46299'), ObjectId('67220b7336eec3bfafb4629a'), ObjectId('67220b7336eec3bfafb4629b'), ObjectId('67220b7336eec3bfafb4629c'), ObjectId('67220b7336eec3bfafb4629d'), ObjectId('67220b7336eec3bfafb4629e'), ObjectId('67220b7336eec3bfafb4629f'), ObjectId('67220b7336eec3bfafb462a0'), ObjectId('67220b7336eec3bfafb462a1'), ObjectId('67220b7336eec3bfafb462a2'), ObjectId('67220b7336eec3bfafb462a3'), ObjectId('67220b7336eec3bfafb462a4'), ObjectId('67220b7336eec3bfafb462a5')]

Menampilkan data employee

In [53]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('6722093636eec3bfafb46279'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6722093636eec3bfafb4627a'), 'name': 'Prabowo', 'department': 'Finance', 'age': 32, 'salary': 5500}
{'_id': ObjectId('6722093636eec3bfafb4627b'), 'name': 'Subianto', 'department': 'IT', 'age': 28, 'salary': 6000}
{'_id': ObjectId('6722093636eec3bfafb4627c'), 'name': 'Joko', 'department': 'IT', 'age': 24, 'salary': 4700}
{'_id': ObjectId('6722093636eec3bfafb4627d'), 'name': 'Sri', 'department': 'HR', 'age': 35, 'salary': 5200}
{'_id': ObjectId('6722093636eec3bfafb4627e'), 'name': 'Muhaimin', 'department': 'HR', 'age': 22, 'salary': 3900}
{'_id': ObjectId('6722093636eec3bfafb4627f'), 'name': 'Iskandar', 'department': 'Marketing', 'age': 26, 'salary': 4700}
{'_id': ObjectId('6722093636eec3bfafb46280'), 'name': 'Mamat', 'department': 'Marketing', 'age': 30, 'salary': 6100}
{'_id': ObjectId('6722093636eec3bfafb46281'), 'name': 'Kaisar', 'department': 'Finance', 'age': 45, 'salary': 7000}
{'_id': ObjectId('6722093636eec3bfafb46282'), 'name': 'Caca', 'department': 'IT', 'age': 23, 'salary': 4800}
{'_id': ObjectId('6722093636eec3bfafb46283'), 'name': 'Fitri', 'department': 'Finance', 'age': 27, 'salary': 4900}
{'_id': ObjectId('6722093636eec3bfafb46284'), 'name': 'Vina', 'department': 'HR', 'age': 40, 'salary': 5500}
{'_id': ObjectId('6722093636eec3bfafb46285'), 'name': 'Peggy', 'department': 'Marketing', 'age': 31, 'salary': 6500}

Data Update

In [7]:
collection.update_one(
    {'name': 'Alice'}, 
    {'$set': {'salary': 5000}}
)
print('Data updated')

Data updated

Data Delete

In [9]:
collection.delete_one({'name': 'Alice'})
print('Data deleted')

Data deleted

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [6]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

latihan 4.1

In [30]:
products = db['products'] # Menghubungkan ke koleksi baru bernama produk

product_data = [
    {'name': 'Odol', 'kategori': 'Kesehatan', 'harga': 6000},
    {'name': 'Sunscreen', 'kategori': 'Kecantikan', 'harga': 5000},
    {'name': 'Shampoo', 'kategori': 'Kesehatan', 'harga': 8000},
    {'name': 'Sabun Mandi', 'kategori': 'Kesehatan', 'harga': 3000},
    {'name': 'Lip Balm', 'kategori': 'Kecantikan', 'harga': 7000},
    {'name': 'Face Wash', 'kategori': 'Kecantikan', 'harga': 6500},
    {'name': 'Body Lotion', 'kategori': 'Kesehatan', 'harga': 7500},
    {'name': 'Masker Wajah', 'kategori': 'Kecantikan', 'harga': 4000},
    {'name': 'Minyak Kayu Putih', 'kategori': 'Kesehatan', 'harga': 4500},
    {'name': 'Parfum', 'kategori': 'Kecantikan', 'harga': 9000}
    
]
products.insert_many(product_data)
print('Data Produk Dimasukan')

Data Produk Dimasukan

In [41]:
products.delete_one({'name': 'Odol'})
print('Data deleted')

Data deleted

Latihan 4.2

In [42]:

pipeline_avg = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$harga'}}}
]
average_price_result = list(products.aggregate(pipeline_avg))
average_price = average_price_result[0]['average_price'] if average_price_result else 0


print("Rata-rata harga:", average_price)
print("Produk dengan harga di atas rata-rata:")
for product in products.find({'harga': {'$gt': average_price}}):
    print(product)

Rata-rata harga: 5750.0
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('672204e336eec3bfafb4626f'), 'name': 'Odol', 'kategori': 'Kesehatan', 'harga': 6000}
{'_id': ObjectId('672204e336eec3bfafb46271'), 'name': 'Shampoo', 'kategori': 'Kesehatan', 'harga': 8000}
{'_id': ObjectId('672204e336eec3bfafb46273'), 'name': 'Lip Balm', 'kategori': 'Kecantikan', 'harga': 7000}
{'_id': ObjectId('672204e336eec3bfafb46274'), 'name': 'Face Wash', 'kategori': 'Kecantikan', 'harga': 6500}
{'_id': ObjectId('672204e336eec3bfafb46275'), 'name': 'Body Lotion', 'kategori': 'Kesehatan', 'harga': 7500}
{'_id': ObjectId('672204e336eec3bfafb46278'), 'name': 'Parfum', 'kategori': 'Kecantikan', 'harga': 9000}

Latihan 4.3

In [46]:
pipeline_count = [
    {'$group': {'_id': '$kategori', 'total_produk': {'$sum': 1}}}
]

# Menampilkan hasil agregasi
print("Total produk per kategori:")
for result in products.aggregate(pipeline_count):
    print(result)

Total produk per kategori:
{'_id': 'Kesehatan', 'total_produk': 5}
{'_id': 'Kecantikan', 'total_produk': 9}

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

Latihan 1

In [61]:
from pymongo import MongoClient

# Menghubungkan ke MongoDB
client = MongoClient('mongodb+srv://diaz:diaz123@bigdata.8ixyv.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Tugas 1: Mencari 5 karyawan dengan gaji tertinggi di setiap departemen
pipeline = [
    {
        '$sort': {'salary': -1}  # Urutkan berdasarkan gaji tertinggi
    },
    {
        '$group': {
            '_id': '$department',
            'top_employees': {'$push': '$$ROOT'},  # Menyimpan semua data karyawan dalam departemen
            'count': {'$sum': 1}  # Menghitung jumlah karyawan
        }
    },
    {
        '$project': {
            'department': '$_id',
            'top_employees': {'$slice': ['$top_employees', 5]},  # Ambil 5 karyawan teratas
            'count': 1
        }
    }
]

result = collection.aggregate(pipeline)
for dept in result:
    print(dept)

{'_id': 'Marketing', 'count': 6, 'department': 'Marketing', 'top_employees': [{'_id': ObjectId('67220b7336eec3bfafb462a0'), 'name': 'Fahmi', 'department': 'Marketing', 'age': 30, 'salary': 7500}, {'_id': ObjectId('67220b7336eec3bfafb4629f'), 'name': 'Nina', 'department': 'Marketing', 'age': 34, 'salary': 7000}, {'_id': ObjectId('67220b7336eec3bfafb462a5'), 'name': 'Hadi', 'department': 'Marketing', 'age': 39, 'salary': 6800}, {'_id': ObjectId('67220b7336eec3bfafb46298'), 'name': 'Peggy', 'department': 'Marketing', 'age': 31, 'salary': 6500}, {'_id': ObjectId('67220b7336eec3bfafb46293'), 'name': 'Mamat', 'department': 'Marketing', 'age': 30, 'salary': 6100}]}
{'_id': 'HR', 'count': 6, 'department': 'HR', 'top_employees': [{'_id': ObjectId('67220b7336eec3bfafb4629d'), 'name': 'Rina', 'department': 'HR', 'age': 36, 'salary': 6200}, {'_id': ObjectId('67220b7336eec3bfafb462a4'), 'name': 'Maya', 'department': 'HR', 'age': 33, 'salary': 5700}, {'_id': ObjectId('67220b7336eec3bfafb46297'), 'name': 'Vina', 'department': 'HR', 'age': 40, 'salary': 5500}, {'_id': ObjectId('67220b7336eec3bfafb46290'), 'name': 'Sri', 'department': 'HR', 'age': 35, 'salary': 5200}, {'_id': ObjectId('67220b7336eec3bfafb4629e'), 'name': 'Tono', 'department': 'HR', 'age': 28, 'salary': 4500}]}
{'_id': 'Finance', 'count': 8, 'department': 'Finance', 'top_employees': [{'_id': ObjectId('67220b7336eec3bfafb462a1'), 'name': 'Lina', 'department': 'Finance', 'age': 45, 'salary': 9000}, {'_id': ObjectId('67220b7336eec3bfafb46299'), 'name': 'Budi', 'department': 'Finance', 'age': 38, 'salary': 8000}, {'_id': ObjectId('67220b7336eec3bfafb46294'), 'name': 'Kaisar', 'department': 'Finance', 'age': 45, 'salary': 7000}, {'_id': ObjectId('67220b7336eec3bfafb4628d'), 'name': 'Prabowo', 'department': 'Finance', 'age': 32, 'salary': 5500}, {'_id': ObjectId('67220b7336eec3bfafb462a3'), 'name': 'Rudi', 'department': 'Finance', 'age': 29, 'salary': 5400}]}
{'_id': 'IT', 'count': 6, 'department': 'IT', 'top_employees': [{'_id': ObjectId('67220b7336eec3bfafb4629b'), 'name': 'Eko', 'department': 'IT', 'age': 27, 'salary': 6500}, {'_id': ObjectId('67220b7336eec3bfafb4628e'), 'name': 'Subianto', 'department': 'IT', 'age': 28, 'salary': 6000}, {'_id': ObjectId('67220b7336eec3bfafb4629c'), 'name': 'Sari', 'department': 'IT', 'age': 29, 'salary': 5700}, {'_id': ObjectId('67220b7336eec3bfafb462a2'), 'name': 'Dimas', 'department': 'IT', 'age': 25, 'salary': 5000}, {'_id': ObjectId('67220b7336eec3bfafb46295'), 'name': 'Caca', 'department': 'IT', 'age': 23, 'salary': 4800}]}

Tugas 2

In [62]:

delete_result = collection.delete_many({'age': {'$lt': 25}})
print(f'Karyawan yang dihapus: {delete_result.deleted_count}')

Karyawan yang dihapus: 3

Tugas 3

In [63]:

report_pipeline = [
    {
        '$group': {
            '_id': '$department',
            'total_salary': {'$sum': '$salary'}, 
            'average_age': {'$avg': '$age'}  
        }
    }
]

report_result = collection.aggregate(report_pipeline)
for report in report_result:
    print(report)

{'_id': 'Finance', 'total_salary': 49500, 'average_age': 34.5}
{'_id': 'HR', 'total_salary': 27100, 'average_age': 34.4}
{'_id': 'Marketing', 'total_salary': 38600, 'average_age': 31.666666666666668}
{'_id': 'IT', 'total_salary': 23200, 'average_age': 27.25}